<h2>Quick demo for find sunrise and sunset time and day lenght for earliest sunrise</h2>
<button class="btn btn-primary btn-sm" id="get-lat-lng">Get lat longs</button>
<button class="btn btn-primary btn-sm" id="fetch-times" disabled="disabled">Fetch sunrise sunset times</button>
<button class="btn btn-primary btn-sm" id="find-earliest" disabled="disabled">Find earliest sunrise</button>
<button class="btn btn-primary btn-sm" id="reset">Reset</button>
<hr>
<div id="earliest">
    <h3>Earliest Data</h3>
    <div></div>
</div>
<div id="data-div">
    <h3>All Data</h3>
    <div></div>
</div>